.slots {
  padding: 0 40px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.slot {
  text-align: center;
  margin-bottom: 4px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slot-label {
  position: absolute;
  margin-left: -70px;
  width: 272px;
  height: 131px;
  line-height: 110px;
  overflow: visible;
  font-size: 3em;
  background-image: url("images/slot-arrow.png");
  transform: scale(.23, .23);
  color: #f7f7f7;
}

.slot-button {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  border: none;
  font-size: 1em;
  background-color: #b7d9d0;
  color: white;
  font-weight: bold;
  box-shadow: 4px 4px 2px #5eb0af;
}

.slot-button > img {
  transform: scale(1, 1);
}

.slot-active > .slot-button {
  background-color: #e9f4eb;
  z-index: 100;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 4px 4px 2px #5eb0af;
  animation: pulse-slot 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.slot-active > .slot-label {
  background-image: url("images/slot-arrow-active.png");
  color: #69c2c0;
  animation: activate-slot-label .5s;
}

@keyframes pulse-slot {
  to {
    box-shadow: 0 0 0 48px rgba(255, 255, 255, 0), 4px 4px 2px #5eb0af;;
  }
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 126px;
  flex-wrap: wrap;
}

.option-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  border: none;
  box-shadow: 4px 4px 2px #5eb0af;
}

.option {
  text-align: center;
  padding: 1px;
}

.option-space-filler {
  width: 40px;
  height: 40px;
  padding: 1px;
}

.option-active > .option-button {
  /*background-color: green;*/
  /*animation: activate-option .5s;*/
}

@keyframes activate-option {
  0% { background-color: red; }
  10% { background-color: white; }
  100% { background-color: green; }
}

.ready {
  position: absolute;
  right: 16px;
  bottom: 560px;
  transform: translateY(50%);
}

.ready-button {
  display: none;
  width: 192px;
  height: 192px;
  border-radius: 96px;
  color: white;
  border: none;
  background-color: red;
  font-size: 6em;
}

.ready-button--active {
  background-color: green;
}

