html, body {
  background-color: #69c2c0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

*:focus {
  outline: none;
}

header {
  /*background-color: dimgray;*/
}

footer {
  /*background-color: dimgray;*/
}

.button-disabled {
  background-color: gray;
}

.button-selected {
  background-color: green;
}

.decorative-border {
  pointer-events: none;
  box-sizing: border-box;
  border: #d4eade solid 5px;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.decorative-border-top,
.decorative-border-right,
.decorative-border-bottom,
.decorative-border-left
{
  pointer-events: none;
  position: absolute;
  background-color: #d4eade;
}

.decorative-border-top {
  top: 8px;
  left: 33px;
  right: 33px;
  height: 25px;
}

.decorative-border-right {
  bottom: 33px;
  left: 8px;
  top: 33px;
  width: 25px;
}

.decorative-border-bottom {
  bottom: 8px;
  left: 33px;
  right: 33px;
  height: 25px;
}

.decorative-border-left {
  bottom: 33px;
  right: 8px;
  top: 33px;
  width: 25px;
}

.player-name {
  position: absolute;
  bottom: 2px;
  right: 6px;
  color: white;
  z-index: 20;
  text-shadow: 1px 1px 5px #000000;
}

.back-to-lobby-button {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: white;
  color: #8ab936;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: normal;
  box-shadow: 5px 5px 2.5px #69a7a4;
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top : 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.instruction-text {
  color: white;
}

footer.instructionsnavigation {
  background-color: #d4eade;
  margin: 5px 8px 8px 8px;
  border-radius: 20px;
}