html, body {
  background-color: #69c2c0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

*:focus {
  outline: none;
}

header {
  /*background-color: dimgray;*/
}

footer {
  /*background-color: dimgray;*/
}

.button-disabled {
  background-color: gray;
}

.button-selected {
  background-color: green;
}

.decorative-border {
  pointer-events: none;
  box-sizing: border-box;
  border: #d4eade solid 5px;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.decorative-border-top,
.decorative-border-right,
.decorative-border-bottom,
.decorative-border-left
{
  pointer-events: none;
  position: absolute;
  background-color: #d4eade;
}

.decorative-border-top {
  top: 8px;
  left: 18px;
  right: 18px;
  height: 10px;
}

.decorative-border-right {
  bottom: 18px;
  left: 8px;
  top: 18px;
  width: 10px;
}

.decorative-border-bottom {
  bottom: 8px;
  left: 18px;
  right: 18px;
  height: 10px;
}

.decorative-border-left {
  bottom: 18px;
  right: 8px;
  top: 18px;
  width: 10px;
}

.player-name {
  position: absolute;
  top: 32px;
  left: 32px;
  color: white;
  z-index: 20;
}

.back-to-lobby-button {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: white;
  color: #8ab936;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: normal;
  box-shadow: 5px 5px 2.5px #69a7a4;
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top : 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.instruction {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.instruction-text {
  margin: 10px;
  color: white;
  text-align: center;
}

.text-details {
  font-weight: normal;
}

.instruction-image {
  max-width: 100%;
  height: auto;
}

footer.instructionsnavigation {
  background-color: #d4eade;
  margin: 5px 8px 8px 8px;
  border-radius: 20px;
  bottom: 0px;
}