html, body {
  margin: 0;
  height: 100%;

  background-color: gray;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

  display: flex;
  flex-direction: column;
}

*:focus {
  outline: none;
}

header {
  flex: 0 0 80px;
  background-color: dimgray;
}

main {
  flex: 1 1 0;
  margin: 0;
  display: flex;
}

footer {
  flex: 0 0 280px;
  margin: 0;
  background-color: dimgray;
}

.slots {
  padding: 0;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.slot {
  text-align: center;
  margin-bottom: 16px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slot-label {
  position: absolute;
  margin-left: -72px;
  line-height: 32px;
  margin-bottom: 16px;
  border: solid white 1px;
  overflow: visible;
  padding: 0 8px;
  color: white;
}

.slot-button {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  border: none;
  font-size: 1.5em;
  background-color: dimgray;
  color: white;
  font-weight: bold;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 264px;
  flex-wrap: wrap;
}

.option-button {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  border: solid white 1px;
  background-color: red;
  color: white;
  font-size: 1.5em;
}

.option {
  text-align: center;
  padding: 12px;
}

.option-space-filler {
  width: 88px;
  height: 88px;
}

.option-active > .option-button {
  background-color: green;
  animation: activate-option .5s;
}

@keyframes activate-option {
  0% { background-color: red; }
  10% { background-color: white; }
  100% { background-color: green; }
}

.ready {
  position: absolute;
  right: 8px;
  bottom: 280px;
  transform: translateY(50%);
}

.ready-button {
  width: 96px;
  height: 96px;
  border-radius: 48px;
  border: solid white 1px;
  color: white;
  background-color: red;
  font-size: 3em;
}

.ready-button--active {
  background-color: green;
}

.slot-active > .slot-button {
  width: 72px;
  height: 72px;
  z-index: 100;
  border-radius: 36px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.slot-active > .slot-label {
  background-color: green;
  animation: activate-slot-label .5s;
}

@keyframes activate-slot-label {
  0% { background-color: transparent; }
  10% { background-color: white; }
  100% { background-color: green; }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 24px rgba(255, 255, 255, 0);
  }
}



/* Character Selection */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navigation-button {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: solid white 1px;
  background-color: red;
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection-button {
  width: 128px;
  height: 128px;
  border-radius: 64px;
  border: solid white 1px;
  background-color: red;
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 32px;
}

.navigation-button:focus:not(.button-disabled) {
  animation: click-button .75s normal cubic-bezier(0.66, 0, 0, 1);
}

.selection-button:focus:not(.button-disabled):not(.selection-button--selected):not(button-disabled) {
  animation: click-button .75s normal cubic-bezier(0.66, 0, 0, 1);
}

.selection-button--selected {
  background-color: green;
  font-size: 3em;
}

.selection-button--disabled {
  background-color: green;
  font-size: 3em;
}

.characters {
  overflow: hidden;
  width: 100%;
}

.character-container {
  position: relative;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.character {
  color: white;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.character-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  white-space: normal;
}

.character-name {
  font-size: 3em;
  font-weight: bold;
}

.character-detail {
  display: flex;
  align-items: center;
  flex-grow: 3;
}

.character-image {
  /*flex: 1 1 0;*/
  flex-grow: 1;
  text-align: right;
  margin-right: 8px;
}

.character-agenda {
  flex-grow: 2;
}

.character-information {
  /*flex: 1 1 0;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  flex-grow: 1;
  margin-left: 8px;
}

.character-label {
  font-size: 2em;
  font-weight: bold;
}

.character-value {
  font-size: 2em;
}

.character-container-0 {
  left: 0;
  transition: left .75s ease-out;
}

.character-container-1 {
  left: -100%;
  transition: left .75s ease-out;
}

.character-container-2 {
  left: -200%;
  transition: left .75s ease-out;
}

@keyframes click-button {
  0% { background-color: red; }
  10% { background-color: white; }
  100% { background-color: red; }
}




.character-previews-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.character-previews {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
}

.character-preview-focus-0 {
  margin-left: 52px;
  transition: margin-left .75s ease-out;
}

.character-preview-focus-1 {
  margin-left: 0;
  transition: margin-left .75s ease-out;
}

.character-preview-focus-2 {
  margin-left: -52px;
  transition: margin-left .75s ease-out;
}

.character-preview {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: solid white 1px;
  background-color: red;
  color: white;
  font-size: 1.5em;
  display: inline-block;
  overflow: hidden;
  margin: 0 5px;
  transition: width .25s ease-out, height .25s ease-out, border-radius .25s ease-out, margin .25s ease-out;
}

.character-preview-focus {
  transition: width .25s ease-out, height .25s ease-out, border-radius .25s ease-out, margin .25s ease-out;
  transition-delay: .5s;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  margin: 0 1px;
}

.character-preview-cursor {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  font-size: 2em;
  flex-shrink: 0;
}

.button-disabled {
  background-color: gray;
}

.button-selected {
  background-color: green;
}